* {
	margin: 0;
	padding: 0;
}

.container {
	border-radius: 8px;
	background-color: #FDE2DE;
	width: 260px;
	height: auto;
	margin: 30px auto;
	box-shadow: 2px 2px 5px 2px gray;

}
.apple {
	position: relative;
	width: 270px;
	height: 297px;
	left: 15%;
}

.apple_pic {
	margin-top: 12%;
}

.text {
	font-size: 1.7em;
	position: relative;
	text-align: center;
	padding-bottom: 22%;
	padding-right: 4%;
	color: #705635;
	font-family: 'Meie Script', cursive;
}